 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I have a good knowladge and sense of design pattern. For each of my projects I try to deliver the best UI/UX. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>Over the time I build several projects and acquire a understanding of how to code and maintain with tools</p>
    </div>
    <div class="tech">
      <h2>Tech watch</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <p>I always keep updated about new Technology, the trends and code update. I like to try new things.</p>
    </div>
</div>
