<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
  </br>
</br>
</br>
    <img alt="mountains" src="{{ "/assets/img/juke4me.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Juke4me </h3>
    <ul>
      <li> Xamarin / C#</li>
    </ul>
    <p>Juke4me is a mobile application developped Xamarin.forms for android and ios platform in C#. I redefined the architecture and design of the Juke4me application and added new functionality.    </p>
    <p> For the Android<a class="" href="https://play.google.com/store/apps/details?id=com.okit.juke4meapp&hl=en" target="_blank" style="text-decoration: none" > App. </a> </p>
    <p> For the IOS<a class="" href="https://itunes.apple.com/us/app/juke4me/id1128807137?mt=8" target="_blank"  href="https://play.google.com/store/apps/details?id=com.okit.juke4meapp&hl=en" target="_blank" style="text-decoration: none" > App. </a> </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Matching Game </h3>
    <ul>
      <li> Javascript</li>
    </ul>
    <p></p>
    <a class="project-link" href="../MemoryGame/index.html" target="_blank" >Check it out</a>
  </div>
</div>
